.page-title-container {
  width: 90%;
  height: 70vh;
  margin: 2% auto;
  border-bottom: 5px solid #f0f0f05c;


  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-details {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}

.page-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1% 0;
  width: 100vw;
  background: none;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}






.animated-rocket-here {
  /* width: 25%; */
  width: 50%;
  height: 65vh;
  margin-bottom: 3vh;
  background: transparent;
}

.rocketship {
  height: 80%;
  width: auto;
  padding: 0 30%;
  background: transparent;
  position: relative;
  top: 25%;
}

.puffy-cloud {
  background: transparent;

  height: auto;
  width: 17vw;
  position: relative;
  left: 36%;
  bottom: 4%;
}

.sparkling-star {
  width: 10px;
  background: transparent;
  border: none;
}

.double-puff {
  background: transparent;
  z-index: 1;
  position: relative;
  left: -15%;
  bottom: 36%;

  height: auto;
  width: 45vw;
}





@media screen and (max-width: 500px) {

  .page-title-container {
    align-items: flex-start;
    justify-content: center;
  }

  
  .page-details {
    margin: 15px 0;
  }

  .page-details > p {
    font-size: .90em;
  }

  .page-header {
    font-size: 1.3em;
  }

  .animated-rocket-here {
    height: 100%;
  }

  .rocketship {
    height: 55%;
    top: 43%;
  }

  .puffy-cloud {
    width: 22vw;
    left: 36%;
    bottom: -33%;
  }

  .double-puff {
    width: 58vw;
    left: -30%;
    bottom: -19%;
  }
}

