* {
  margin: 0;
}

.articles-container {
  height: fit-content;
}

.articles-header {
  width: 85%;
  margin: 8% auto 1%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.articles-header > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.toggle-view-btn {
  padding: 1% 2.5%;
  border: 3px solid white;
  background: transparent;
  font-size: 1em;
  font-weight: 600;
}

.toggle-view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.articles-wrapper {
  margin: 3% auto 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}