.historical-cards-container {
  height: fit-content;
  /* width: 50vw; */
}

.articles-header {
  width: 90%;
  margin: 8% auto 1%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggle-view-btn {
  padding: 1%;
}