* {
  /* background-color: #112947; */
  color: white;
  /* background-image: url('../../starBackground.webp') */
}

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  position: absolute;
}

footer {
  height: 25vh;
  font-size: 1.50em;
  padding: .75vh;
  margin: 5vh 5vh;
  border-top: 2px solid #f0f0f05c;
  text-align: center;
}

.footer-logo {
  height: 14vh;
  width: auto;
}

footer > p {
  width: 50%;
  font-size: .75em;
  border-bottom: 1px solid #a681d791;
  padding-bottom: 32px;
  margin: auto;
}

footer > a {
  text-decoration: none;
  font-size: .75em;
}

.star-container {
  display: flex;
  flex-wrap: wrap;
  height: 30vw;
  width: 80vw;
  z-index: 1;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

.sparkling-star1 {
  width: 10px;
  background: transparent;
  border: none;
}
.sparkling-star2 {
  width: 40px;
  background: transparent;
  border: none;
}
.sparkling-star3 {
  width: 10px;
  background: transparent;
  border: none;
}
.sparkling-star4 {
  width: 10px;
  background: transparent;
  border: none;
}
/* .star {
  width: 30px;
} */

@media screen and (max-width: 500px) {
  main {
    width: 99%;
    overflow-x: hidden;
  }
}
