* {
  color: white;
}

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  position: absolute;
}

footer {
  height: 25vh;
  font-size: 1.50em;
  padding: .75vh;
  margin: 5vh 5vh;
  border-top: 2px solid #f0f0f05c;
  text-align: center;
}

.footer-logo {
  height: 14vh;
  width: auto;
}

footer > p {
  width: 50%;
  font-size: .75em;
  border-bottom: 1px solid #a681d791;
  padding-bottom: 32px;
  margin: auto;
}

footer > a {
  text-decoration: none;
  font-size: .75em;
}

.star-container {
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(3, fr);
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-areas:
  "star star star star"
  "star star star star"
  "star star star star"
  "star star star star";
  z-index: 1;
  position: fixed; 
  height: 100%;
  width: 100%;
  margin: 0 10%;
}

.sparkling-star1 {
  width: 5px;
  background: transparent;
  border: none;
}
.sparkling-star2 {
  width: 10px;
  background: transparent;
  border: none;
  margin: 10rem 0 0 10rem;
}
.sparkling-star3 {
  width: 11px;
  background: transparent;
  border: none;
}
.sparkling-star4 {
  width: 7px;
  background: transparent;
  border: none;
}
.sparkling-star5 {
  width: 8px;
  background: transparent;
  border: none;
  margin: 10rem 0 0 10rem;
}

@media screen and (max-width: 500px) {
  main {
    width: 99%;
    overflow-x: hidden;
  }
}
