.historical-card {
  width: 70vw;
  height: 20vh;
  margin: 1%;
  border: 1px solid #f0f0f082;
  display: flex;

  background: #f5f5f53b;
}

.article-image-wrapper {
  height: 18vh;
  width: 23vw;
  align-self: center;
  margin: 0 1vw;

  background: transparent;
}

.article-image {
  height: 18vh;
  width: 23vw;
  object-fit: cover;
}

.info-wrapper {
  height: 15vh;
  width: 70%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;

  background: transparent;
}

.info-wrapper > h3,
.info-wrapper > a {
  background: transparent;
}

.article-details {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  background: transparent;
}

.favorite-btn {
  height: 4vh;
  position: relative;
  z-index: 5;
  margin: 1.5%;

  background: transparent;
}

.favorite-btn:hover {
  cursor: pointer;
}


@media screen and (max-width: 500px) {

  .historical-card {
    margin: 5%;
    height: 50vh;
    flex-direction: column;
  }

  .article-image-wrapper {
    height: 21vh;
    width: 92%;
    padding-top: 3%;
  }

  .article-image {
    height: 20vh;
    width: 100%;
  }

  .info-wrapper {
    width: 93%;
    height: 27vh;
    padding: 7px;
  }

  .info-wrapper > h3 {
    font-size: 1.1em;
    width: 80%;
  }

  .info-wrapper > p {
    height: 55%;
  }

  .favorite-btn {
    height: 25px;
    width: 25px;
    top: -45%;
    left: 85%;
  }

}