.historical-card {
  width: 70vw;
  height: 20vh;
  margin: 1%;
  border: 1px solid black;
  background: whitesmoke;
  display: flex;
}

.img-wrapper {
  height: 20vh;
  width: 25vw;
}

.rocket-image {
  height: 20vh;
  width: 25vw;
  object-fit: cover;
}

.info-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin: 1%;
  align-self: center;
  height: 15vh;
}

.article-details {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.favorite-btn {
  height: 4vh;
  position: relative;
  z-index: 5;
  top: 10%;
  right: 2%;
  /* border: none;
  background: transparent; */

}

.favorite-btn:hover {
  cursor: pointer;
}
