.nav-bar {
  height: 10vh;
  padding: 1vh 1vw 0;
  margin: 0 5vh 5vh;
  border-bottom: 2px solid #00000029;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: auto;
  /* height: 110%; */

  height: 180%;
  padding: 4px;
  margin-bottom: -5%;
}

.links-container {
  z-index: 15;
  width: 15vw;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-evenly;
}

.history-link,
.rockets-link {
  color: #d7b9ff;
  text-decoration: none;
  padding: .5vh;
  text-transform: uppercase;
  font-weight: 600;
}

.history-link,
.rockets-link:hover {
  cursor: pointer;
}

/* .active {
  border-bottom: 3px solid orange;
  font-weight: 600;
  color: purple;
} */


@media screen and (max-width: 500px) {

  .nav-bar {
    width: 100%;
    margin: 0;
    justify-content: none;
  }

  .logo {
    height: 110%;
    padding: 0 15px;
    margin-bottom: -2%;
  }

  .links-container {
    width: 60%;
    padding: 0 15px;
  }
  
}