.nav-bar {
  height: 10vh;
  padding: 1vh 1vw 0;
  margin: 0 5vh 5vh;
  border-bottom: 2px solid #00000029;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: auto;
  height: 110%
}

.links-container {
  width: 15vw;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-evenly;
}

.history-link,
.rockets-link {
  color: inherit;
  text-decoration: none;
  padding: .5vh;
}

.history-link,
.rockets-link:hover {
  cursor: pointer;
}

/* .active {
  border-bottom: 3px solid orange;
} */