.rocket-card {
  width: 90vw;
  height: 75vh;
  padding: 1%;
  margin: 3vh auto 15vh;
  border: 1px solid black;
}

.rocket-name {
  height: 10%;
  padding: 1%;
  font-size: 2em;
}

.card-body { 
  height: 80%;
  display: flex;
}



.rocket-image-container {
  width: 55%;
  height: 100%;
  margin: 0 1vw;
}

.rocket-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rocket-info {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1vw;
}



.description-wrapper {
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 1.5em;
  font-style: italic;
}

.details,
.details > p {
  padding: 1%;
}

span {
  font-weight: bolder;
  text-decoration: underline;
}




.measurements-wrapper {
  height: 28%;
  width: 100%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
}

.measurements {
  border: 3px solid #d7b9ff;;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurements > p {
  font-size: 1em;
}

.measurements > h2 {
  font-size: 1.25em;
  padding-top: 10px;
  margin-bottom: 15px;
}




