.rocket-name {
  margin: 0px 0px 10px 30px;
  font-size: 2em;
}

.rocket-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-body { 
  display: flex;
  height: 40%;
  width: 100%;
}

.rocket-pic-container {
  width: 80%;
  height: 50%;
  align-items: center;
}

.rocket-pic {
  height: auto;
  width: 100%;
  border-radius: 10px; 
  padding-left: 8px;
}

.rocket-info {
  height: auto;
  width: 50%;
  display: flex;
}

.rocket-info {
  font-size: 1em;
}


